.main-body{
    height: fit-content;
    
}
.profile-heading{
    height: 10vh;
}
.profile-heading h1{

    width: inherit;
    margin-top: 50px;
    font-family: "cursive";
    line-height: 1.5;
    font-weight: bolder;
    text-align: center;
}
.profile-container{
    height: 74vh;
    display: flex;
}

.profile-container >div{

    width: 50%;
}

.left-profile-container{
    background-color: #ffffff;
}
.left-background{

    border-radius: 10px;
    height: 25vh;
    width: 100%;
}


.profile-pic{
    
    height: fit-content;
    width: 100%;
    text-align: center;
    margin-top: -12vh;
}

.user-image{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    opacity: 1;
    background-color:#f6ffff;
    box-shadow: 0px 0px 6px 4px rgb(185, 198, 209);
}

.login-data{

    background-image: url("https://static.vecteezy.com/system/resources/previews/002/360/915/large_2x/realistic-smear-of-blue-paint-on-white-background-vector.jpg");
    border-radius: 20px;
    box-shadow: 0px 6px 6px 4px rgb(185, 198, 209);
    margin: -11.8vh 12%;
    height: fit-content;
    min-height: 35vh;
    padding: 1.14rem .7rem ;
}

.information {
    margin-top: 10vh;
}

.information > div{
    margin: 1.15em;
}

.field-label{
    height: 3rem;
    margin-left: 1.15rem;
    margin-right: 1.15rem;
    text-align: left;
}

.field-label span{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1.6rem;
   font-weight: 400;
   
}

.field-value{
    height: 3rem;
    margin-left: 1.15rem;
    margin-right: 1.15rem; 
}

.field-value span{

    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #252525;
}


.profile-form {
    padding: 2rem 0;
    height: 100%;
    width: 60%;
  }


  .edit-heading{
    margin-left: 5vh;
  }
  .edit-heading h3{
    margin-top: 10vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .form-control{
    height: 3rem;
  }

  .margin-div{
    margin-top: 14vh;
  }


  .profile-form-div{

    margin-top: 3vh;
  }

  .send-btn{
    margin-top: 1.5vh;
  }

  /* Form Section */


  .change-details{
    margin-top: 25vh;
    margin-left: 10vh;
    width: fit-content;
   
  }

  .custom-input {
    width: 365px;
    background-color: #f0f0f0;
    height: 55px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    overflow: hidden;
  }


  .custom-input .icon {
    margin-left: 15px;
    color: #bfbfc0;
    font-size: 16px;
    margin-top: -4px;
  }


  .custom-input input {
    outline: none;
    border: hidden;
    background-color: transparent;
    margin-left: 12px;
    font-weight: 600;
    color: #1f8cd0;
    width: 80%;
  }

  .custom-input input::placeholder {
    color: #ada9a9;
    letter-spacing: 00.09em;
  }

  
  .save-change{

    width: 170px;
    height: 45px;
    border-radius: 32px;
    outline: none;
    color: #fff;
    background-image: linear-gradient(to right, #1fa4f6, #5995fd);
    border: hidden;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 00.09em;
  }

  .btn-div{

    display: flex;
    justify-content: space-between;
    margin-right: 2vh;
  }
  .back-to-home{
    width: 150px;
    height: 45px;
    text-align: center;
    padding: 3px
  }
  .back-home{
    text-decoration: none;
  }
  .back-to-home h4{
    font-size: 21px;
    color: #1fa4f6;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
 
  .back-to-home h4:hover{
    color: #252525;
    transition: 1s all ease-in-out ;
  }
  @media (max-width:900px){

    .login-data{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -12vh;
        border: 0px;
       
    }

    .profile-form{
        width: 80%;
        margin-left:  0px;
    }

    .change-details{
        margin-top: 27vh;
        margin-left: 5vh;
    }
    .custom-input {
        width: 300px;
        background-color: #f0f0f0;
        height: 45px;
        border-radius: 24px;
        display: flex;
        align-items: center;
        margin-top: 12px;
        overflow: hidden;
      }
  }

  @media (max-width:600px){

    .left-background{
        width: 100%;
    }
    .login-data{ 
        border-bottom: 2px solid #1f8cd0;
        margin-top: -12vh;
        margin-left: 10%;
        margin-right: 10%;
    }

    .change-details{
        margin-top: 14vh;
        margin-bottom: 2vh;
    }
    .profile-container{
        display: flex;
        flex-direction: column;
    }
    .profile-container >div {
        width: 100%;
    }

    .right-container{

        margin: 5vh 0;
        justify-content: center;
        width: 90%;
    }

    .form-control{
        margin: 0 20px;
    }
    .send-btn{

        margin:20px 20px;
    }
    .profile-form{
        width: 85%;
        margin: 0px;
        padding: 0px;
    }

    .back-to-home{
      width: 140px;
      height: 45px;
      text-align: center;
      padding: 3px
    }
    .back-to-home h4{
      font-weight: 300;
    }
    
  }
