.sidebar {
  height: 100vh;
  /* background-color: black; */
  background-color: #222831;
  position: sticky;
  top: 50px;
  border-right: 2px solid white;
  width: 20%;
}
.sidebarWrapper {
  padding: 20px;
  color: #EEEEEE;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 1.5vmax;
  color: white;
  font-weight: bold;
}
.sidebarList {
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1vmax;
}
.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
  color: white;
}

.sidebarListItem.active,
.sidebarListItem:hover {

  background-color: #3591ca;

  font-weight: bold;
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 1.7rem;
  color: white;
}

.link{
  text-decoration: none;
}