@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&family=Rubik+Dirt&display=swap");
$Primary_color: #efeff3;
$Primary_color-1: #babccf;
$Primary_color-2: #5e6062;
$Primary_color-3: #131416;
$Border_color: #bbc4de;
$Primary_color-4: #303f4f;
$Primary_color-6: #485ccb;

@mixin flexCenter($drection, $justifyContent) {
  display: flex;
  flex-direction: $drection;
  justify-content: $justifyContent;
  align-items: center;
}

.SubNavbar {
  background-color: $Primary_color;
  grid-area: SubNavbar;

  @include flexCenter(row, space-evenly);
  gap: 15px;
  width: 98%;
  height: fit-content;
  margin: 1% 1%;
  padding: 10px;
  background-color: white;
  border-radius: 14px;

  .box1 {
    width: 25%;
    height: 250px;
    background-color: white;
    border-radius: 7px;
  }

  .box2 {
    width: 75%;
    height: 250px;
    background-color: white;
    border: 2px solid rgb(224, 222, 222);
    border-radius: 7px;

    @include flexCenter(row, space-evenly);
    flex-wrap: wrap;

    label {
      margin-left: 15px;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      color: $Primary_color-6;
    }

    .field {
      margin: 10px;
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 7px;
      padding: 7px 12px;
      background-color: $Primary_color;
      outline: none;
      font-size: 16px;
    }
    .pickUp,
    .dropOff {
      width: 42%;
      height: fit-content;
    }

    .pickUpDate,
    .dropOffDate,
    .pickUpTime,
    .dropOffTime {
      width: 20%;
      height: fit-content;
    }
  }
}
